
* {
    box-sizing: border-box;
}

.container {
    padding: 30px;
    border: 1px dotted black;
}

.parent {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 1px dotted black;
}

.item {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.red {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translate(10px, 50px);
    transition: background-color 1s, color 1s;
}

.item.red:hover {
    background-color: pink;
    color: black;
}

.item.green {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 3s;
    background-color: green;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(0.5turn); */
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: scale(1.5);
}

.item.orange {
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: skew(20deg, 20deg);
}
