
* {
    box-sizing: border-box;
}


.item {
    flex-basis: 100px;
    height: 100px;
    background-color: burlywood;
    padding: 10px;
    border: 6px solid darkred;
    margin: 10px; 
}

.flex-container {
display: flex;
justify-content: center;
}

.item:nth-child(2) {
    flex-grow: 0;
}