//Шрифты
@import './utils/fonts';
//Переменные с цветами 
@import './utils/variables';
/* Base */
@import './base';
// Visually hidden
@import './utils/utils';
// Text_brand
@import './utils/text';
// Section
@import './layouts/section';
// Container 
@import './layouts/container';
//Кнопки
@import './components/button';
// Pagination
@import './components/pagination';
//Ссылки
@import './components/links';
/* Header section */
@import './layouts/header';
/* Hero section */
@import './layouts/hero-section';
/* Advantge section */
@import './layouts/advantages-section';
/* Traditions Section */
@import './layouts/traditons-section';
/* Cooker Section */
@import './layouts/cooker-section';
// Coocker Card
@import './components/cooker-card';
//Format Card
@import './components/format-card';
/* Carousel */
@import './components/carousel-button';
/* Formats Section */
@import './layouts/format-section';
/* Contact Section */
@import './layouts/contact-section';
/* Footer Section */
@import './layouts/footer';
// Mobile Menu
@import './layouts/mobile-menu';
/* Form */
@import './layouts/form_modal';
//Form Terms
@import './layouts/form-terms';
//  Modal 
@import './layouts/modal';
// Input
@import './components/input';
