.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 16px;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    overflow: hidden;

    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-primary-light);
    
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: var(--color-primary-light);  
    }

}