.input {
    margin-bottom: 32px;

    &__label {
        display: block;
    }

    &__control {
        padding: 16px 42px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-secondary-dark);
        background-color: transparent;
        font-size: 16px;
        line-height: 1.17;

        &:focus {
            border-color: var(--color-brand-normal);
            outline: none;
        }

        ::placeholder {
            font-size: 16px;
            line-height: 1.17;
            color: var(--color-secondary-dark);
        }

        :focus::placeholder {
            color: var(--color-primary-dark);
        }

    }



}