.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../Images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $--bp-tablet) {
            flex-basis: 50%;
            flex-direction: row;
        }
    }

    &__nav,
    &__adress {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $--bp-tablet) {
            flex-basis: 50%;
            flex-direction: row;
            text-align: left;
        }
    }

    &__logo,
    &__menu {
        flex-grow: 1;
    }

    

    &__address-list,
    &__address-info {
        flex-grow: 1;
    }
    
    &__adress-link {
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: var(--color-primary-light);
        text-decoration: none;
        z-index: 1;
    }
    
    &__adress-link:hover {
        color: var(--color-brand-normal);
        text-decoration: none;
        z-index: 1
    }
    
    &__adress-copyright {
        font-size: 14px;
    }
    
    &__adress-icon {
        fill: var(--color-primary-light);
    }
    
    &__adress-icon:hover {
        fill: var(--color-brand-normal);
    }

    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        content: '';
    }
    
    
    &::before {
        width: 180px;
        height: 120px;
        left: 0;
        background-image: url('../Images/decor-bread-small.png');
        z-index: 0;
    }
    
    &::after {
        width: 380px;
        height: 190px;
        right: 0;
        background-image: url('../Images/decor-bread-large.png');
        z-index: 0;
    }
}










/* Modal */

