.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../Images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-adress {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.adress-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.adress-link:hover {
    color: var(--color-brand-normal);
    text-decoration: none;
}

.adress-copyright {
    font-size: 14px;
}

.adress-icon {
    fill: var(--color-primary-light);
}

.adress-icon:hover {
    fill: var(--color-brand-normal);
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}


.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../Images/decor-bread-small.png');
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../Images/decor-bread-large.png');
}

/* Modal */

