.form-input {
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
    font-size: 16px;
    line-height: 1.17;
}

.form-label {
    display: block;
}

.form-field {
    margin-bottom: 32px;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input:disabled {
    border-color: lightgray;
}

.form-input:disabled::placeholder {
    color: lightgray;
}

.form-input::placeholder {
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-secondary-dark);
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 210px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

/* .checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
}

.checkbox {
    position: relative;
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */