.format-section {
    
    &__container {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__item {
        flex-basis: calc((100% - 40px) / 3);
    }

    &__list {
        display: flex;
        gap: 20px;
    }

}



.formats-title {
    margin-bottom: 80px;
}




