.hero-section {
    padding: 124px 0;
    background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%),
        url('../Images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;

    @media screen and (min-width: $--bp-mobile) {
        background-position: center top;
    }

    @media screen and (min-width: $--bp-desktop) {
        background-position: center top;
        padding: 272px 0;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ppx) {
        background-image: linear-gradient(102.76deg,
             rgba(18, 18, 17, 0.78) 2.03%,
             rgba(18, 18, 17, 0.6) 58.46%,
             rgba(18, 18, 17, 0) 90.36%),
        url('../Images/hero-section-background@2x.jpg');
        
    }

    &__title {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 50px;
    line-height: 1;
    font-weight: 900;


        @media screen and (min-width: $--bp-desktop) {
            margin-bottom: 0;
            font-size: 128px;
            line-height: 1.5;
        }
    }

    &__button {
        margin: 0 auto;

        @media screen and (min-width: $--bp-desktop) {
            display: none;
        }
        
    }
}
